.footer {
    font-size: 1rem;
    background: #f8f9fa;
    border-top: 1px solid #eaeaea;
}
.footer h5 {
    font-weight: 700;
    letter-spacing: 1px;
}
.footer small, .footer span {
    font-size: 0.95em;
}