.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
        }
.form-row label {
    width: 180px;
    min-width: 140px;
    margin-right: 10px;
}
.form-row input,
.form-row select,
.form-row textarea {
    flex: 1;
}
textarea {
    resize: vertical;
}